body{
    background-image:url(web_back_img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

form{
    background-color: rgba(63, 59, 59, 0.5);
    border-radius: 1.5rem;
    margin: auto;
    border: 1px solid black;
    height: 32rem;
    width: 28rem;
    margin-top: 5rem;
}
.forgot_Password>h1{
    text-align: center;
    color: white;
}

.sentence{
    font-family:Arial, Helvetica, sans-serif;
    word-spacing: .1rem;
    font-size: 1.1rem;
    line-height: 1.6rem;
    margin-top: 2rem;
    margin-right: 3rem;
    margin-left: 2rem;
    color:white;
}

label{
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    margin-left: 2rem;
    font-size: 1.3rem;
}
.email_username>input{
    color: white;
    background: transparent;
    outline: none;
    border: 2px solid black;
    margin-left: 2rem;
    margin-top:.6rem;
    padding-left: 1rem;
    font-size: 1.2rem;
    height:2rem;
    width: 20rem;
}

.button>button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    background-color: rgb(219, 183, 37);
    margin-top: 2rem;
    margin-left: 2rem;
    height: 2.4rem;
    width: 22rem;
    border-radius: 2rem;
    border: 2px solid black;
}

.register>p{
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-left: 4rem;
}
.register a{
    color:blue;
    text-decoration: none;
}

.or>p{
    margin-top: 1.4rem;
    margin-left: 12rem;
}

.login>p{
    margin-left: 6rem;
    font-size: 1.4rem;

}

.login a{
    color: blue;
    text-decoration: none;
    margin-left: .6rem;
    font-size: 1.3rem;
}